div {
  position: absolute;
  text-align: center;
  flex-wrap: nowrap;
  animation: 1s slideUp forwards;
  opacity: 0;
}

.letter {
  opacity: 0;
  white-space: pre;
}

.animated {
  display: inline-block;
  animation: 0.03s slideUp forwards;
}

.animated-wrapper {
  display: inline-block;
  animation: 3s appear forwards;
  opacity: 1;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    transform: translateY(-200%);
  }
  15% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200%);
  }
}
